*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #e6e6e6;
}

/****** Layout ******/

#cabecalho{

    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#Logo, #Menu{
    padding: 10px;
}

#Principal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#Postagens{
    width: 660px;
    float: left;
}

#Menu_Lateral{
    width: 240px;
    float: right;
}

.Postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.conteudo-lateral{
    background-color: white;
    padding: 10px;

}

.postagens-lateral{
    font-size: 0.8em;
    padding: 5px;
    margin-bottom: 1px;
}

#Rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: #ccc;
}

/****** Formatação do menu ******/

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #f7b600;
}

a:hover{
    text-decoration: underline;
}

#cabecalho a:link, #cabecalho a:visited{
    color: #fff;
    padding: 1em;
}

#cabecalho a:hover{
    color: #f7b600;
    background-color: #fff;
    text-decoration: none;
}

/****** Formatações Gerais ******/

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: #f7b600;
}

h3{
    color: #565656;
    background-color: #ccc;
    padding: 5px;
}

.branco{
    color: white;
}

.data_postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}
