*{
    margin: 0;
}

body{
    background-image: url(imagem/fundo.png);
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;padding: auto;
}

#principa{
    width: 900px;
}

#Capa{
    margin: 2em;
}

#opcoes{
    padding: 18px;
    font-weight: bold;
    margin: 1.5em;
    background-color: #c5c5b2;
}

#background {
    margin: 1.2em;
    background-color: #e9ebdf;
    font-size: 20px;
}

#paragrafos{
    padding: 1em;
    font-size: medium;
}

.foto{
    background-image: url(imagem/fundo.png);
    background-position: 1em;
    padding: 1em;
}

.Titu{
    padding: 1em;
    color: #747060;
}

.direitos{
    margin: 2em;
    font-weight: bold;
    color: #2a2570;
}

.centralizar{
    text-align: center;
}